#cs-comments {
	margin-top: 1em;
	font-size:14px;
	font-family:sans-serif;
}

#cs-comments > hr {
	background-color: #bdc3c7;
	opacity: 0.6;
}

#cs-comments-title {
	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0em;
	text-align: center;
	font-size:1.17em;
}

.cs-comment-thread {
	margin-top: 1em;
	margin-bottom: 2.5em;
	overflow: hidden;
}

.cs-comment {
	padding: 0px 0px 10px 0px;
}

.cs-userImage {
	float: left;
	width: 50px;
	height: 50px;
	padding-right: 0.2em;
}

.cs-commentTitle {
	background-color: #E4F1FE;
	border-radius: 4px 0px 0px 4px;
	overflow: auto;
	min-height: 50px;
}

.cs-commentTitle > p {
	margin-top: 0em;
	padding: 0em 0.3em 0em 0.3em;
	font-size: 80%;
	font-weight:bold;
	margin-bottom: 0em;
}

.cs-reply-comment {
	margin-left: 2em;
}

.cs-commentBody {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 0.4em;
	padding-right: 1em;
}

.cs-commentFooter {
	color: gray;
	opacity: 0.8;
	font-size: 80%;
	padding-left: 0.5em;
}

.cs-commentAuthor {
	padding-bottom: 0.5em;
	font-size: 110%;
	font-weight: bold;
	padding: 0.3em 0.3em 0em 0.3em;
	color: #1F3A93;
}

.cs-commentDetails {
	padding-right: 10px;
}

#cs-newStreamBox {
	position: relative;
}

#cs-newReplyBox {
	position: relative;
}

.cs-thread-footer {
	padding-left: 	0.4em;
	padding-bottom: 0.4em;
}

.cs-button {
	background: white;
	color: #00a7d8;
	font-family: Arial;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	margin:0;
	border-style: solid;
	border-color: #00a7d8;
	border-radius: 6px;
	border-width:2px;
}

.cs-button:enabled:active {
	opacity: 0.5;
}

.cs-button:enabled:hover {
	color: #3ccefa;
	border-color: #3ccefa;
}

.cs-button:disabled {
	color: #95a5a6;
	border-color: #95a5a6;
	opacity: 0.2;
}

#cs-newStreamButton {
	font-size: 15px;
	padding: 8px 12px 8px 12px;
}

.cs-newReplyButton {
	font-size: 13px;
	padding: 7px 10px 7px 10px;
}

.cs-editCommentButton, .cs-deleteCommentButton {
	border: none;
	border-style: none;
	padding-right: 10px;
}

#cs-titleBoxDiv {
	padding-left: .4em;
	padding-bottom: .2em;
}

#cs-titleTextbox {
	width: 400px;
	height: 15px;
	border-radius: 2px;
	border-width: 1px;
	padding: 2px 0 2px 3px;
	border-style:solid;
	border-color: #00a7d8;
	margin:0;
	box-style: content-box;
	-webkit-box-sizing: content-box;
}

.cs-commentButtons {
	padding-bottom: .4em;
}

#cs-newCommentBody {
	padding-left: 0em;
	padding-right: 0em;
}

#cs-newCommentTextArea {
	border-radius: 3px;
	border-color: #00a7d8;
	width:100%;
}

.cs-toggleButton {
	float:right;
	border: none;
	border-style: none;
	background-color: transparent;
	padding-right:5px;
}