.cs-hidden {
	display: none;
}

#cs-comments {
	margin-top: 10px;
	font-family: sans-serif;
}

.cs-stream {
	margin-top: 5px;
	margin-bottom: 5px;
}

.cs-comment {
	position: relative;
	overflow: hidden;
}

.cs-reply-comment {
	margin-top: 10px;
	margin-left: 30px;
}

.cs-head-comment > .cs-comment-header {
	border-top: 1px solid #00a7d8;
}

.cs-target-comment .cs-comment-header {
	border: 2px solid green;
}

.cs-expanded .cs-comment-header {
	background-color: #e4f1ff;
}

.cs-collapsed .cs-comment-header {
	background-color: #eeeeee;
	margin-bottom: 10px;
}

.cs-reply-comment > .cs-comment-header {
	background-color: #f5faff;
}

.cs-comment-header {
	padding-top: 2px;
	padding-bottom: 2px;
}

.cs-comment-header-left {
	display: inline-block;
	vertical-align: middle;
}

.cs-comment-header-center {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
}

.cs-comment-header-right {
	display: inline-block;
	float: right;
}

.cs-avatar {
	height: 48px;
	padding: 5px;
}

.cs-comment-title {
	font-size: 16px;
	font-weight: bold;
}

.cs-comment-author {
	padding-right: 5px;
	font-size: 12px;
}

.cs-comment-author-anonymous {
	font-style: italic;
	opacity: 0.8;
	color: #555555;
}

.cs-comment-author a {
	color: #00a7d8;
	font-weight: bold;
}

.cs-comment-body {
	margin-bottom: 5px;
	font-size: 14px;
}

.cs-comment-details {
	color: #555555;
	opacity: 0.8;
	font-size: 12px;
	padding-right: 5px;
	padding-left: 5px;
}

.cs-comment-button-label {
	padding-left: 5px;
}

button:hover {
	background-color: #8eddf5;
}

.cs-button {
	background-color: transparent;
	border: none;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	box-shadow: none;
}

.cs-button:enabled:active {
	opacity: 0.5;
}

.cs-button:enabled:hover {
	color: #3ccefa;
}

.cs-button:disabled {
	color: #95a5a6;
	opacity: 0.2;
}

.cs-moderator-button {
	color: #ff0000;
}

.cs-moderator-button:enabled:hover {
	color: #ff5555;
}

.cs-toggle-button {
	border: none;
	border-style: none;
}

.cs-vote-upcount, .cs-vote-downcount {
	color: #555555;
	padding-left: 3px;
}

.cs-link-button {
	border: none;
	border-style: none;
}

#cs-add-button, .cs-reply-button {
	font-size: 14px;
	padding-left: 0;
}

#cs-edit-box {
	position: relative;
	background-color: #e4f1ff;
	padding: 5px 5px 5px 5px;
	margin-bottom: 7px;
}

.cs-reply-edit-box {
	margin-left: 30px;
}

#cs-title-edit-field {
	border-radius: 2px;
	border-width: 1px;
	border-color: #00a7d8;
	box-style: content-box;
	-webkit-box-sizing: content-box;
	width: 80%;
	min-width: 400px;
	padding: 5px 5px 5px 5px;
	margin-bottom: 5px;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
}

#cs-body-edit-field {
	border-radius: 2px;
	border-width: 1px;
	border-color: #00a7d8;
	width: 100%;
	padding: 5px 5px 5px 5px;
	margin-bottom: 5px;
	font-family: sans-serif;
	font-size: 14px;
}

// VisualEditor/VEForAll CSS
.ve-area-wrapper, .ve-ce-documentNode {
	width: auto !important;
}

.ve-area-wrapper {
	z-index: 100;
}

div.ve-ce-branchNode {
	border: 1px solid #00a7d8;
	background: white;
	margin-bottom: 5px;
}

